<div id="filter">
    <label>
        <input type="checkbox" onchange="Filter()" />
        <span class="type">Option 1</span>
    </label>
    <label>
        <input type="checkbox" onchange="Filter()" />
        <span class="type">Option 2</span>
    </label>
</div>